NODE_ENV=development
PORT=3001
CLIENT_ORIGIN=http://localhost:5173
MONGODB_URI=mongodb://localhost:27017/finta

JWT_ACCESS_SECRET=change-me-access
JWT_REFRESH_SECRET=change-me-refresh
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
JWT_REFRESH_COOKIE_MAX_AGE_MS=604800000

BREVO_API_KEY=
BREVO_FROM_EMAIL=
BREVO_FROM_NAME=

FILE_SERVICE_URL=https://pdn-api-files.laconic.co.th/api/file/v1
UPLOAD_FILE_PATH=finta/documents
